In [1]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

In [2]:
x = [8.0, 1, 2.5, 4, 28.0]
x_with_nan = [8.0, 1, 2.5, math.nan, 4, 28.0]
x

[8.0, 1, 2.5, 4, 28.0]

In [3]:
x_with_nan

[8.0, 1, 2.5, nan, 4, 28.0]

In [4]:
math.isnan(np.nan), np.isnan(math.nan)

(True, True)

In [6]:
math.isnan(x_with_nan[3]), np.isnan(x_with_nan[3])

(True, True)

In [7]:
y, y_with_nan = np.array(x), np.array(x_with_nan)

In [8]:
z, z_with_nan = pd.Series(x), pd.Series(x_with_nan)

In [9]:
y

array([ 8. ,  1. ,  2.5,  4. , 28. ])

In [10]:
z

0     8.0
1     1.0
2     2.5
3     4.0
4    28.0
dtype: float64

In [11]:
mean_ = sum(x) / len(x)

In [12]:
mean_

8.7