# Linear Regression

In [1]:
from sklearn.linear_model import LinearRegression

In [2]:
lm= LinearRegression()

In [5]:
import pandas as pd
income = pd.read_csv('income.data.csv')

In [7]:
income.head()

   Unnamed: 0    income  happiness
0           1  3.862647   2.314489
1           2  4.979381   3.433490
2           3  4.923957   4.599373
3           4  3.214372   2.791114
4           5  7.196409   5.596398